{% extends "index.html" %}
{% block title %}ToDo List - Lista zadań{% endblock %}
{% block content %}
    <h2>Lista zadań</h2>
    <a href="{{ url_for('add_task') }}">Dodaj zadanie</a> 
    {% if tasks|length == 0 %}
        <p>Brak zadań.</p>
    {% else %}
        <ul style="list-style-type: none;">
            {% for task in tasks %}
                <li>
                    {% if task["done"] %}
                        ✔️
                    {% else %}
                        ❌
                    {% endif %}
                    <a href="{{url_for('task', task_id=task['id'])}}">{{ task["title"] }}</a>
                    <small>({{task["created_at"]}})</small>
                    <form action="{{url_for('update_task_status', task_id=task['id'])}}" method="post">
                        <input type="hidden" name="view_name" value="list_tasks">
                        <button type="submit">Zmień status</button>
                    </form>
                    <form action="{{url_for('delete_task', task_id=task['id'])}}" method="post">
                        <button type="submit">Usuń</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
