<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple form</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background: #020024;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
        }
        #container {
            background-color: white;
        }
    </style>
</head>

<body>
    <main>
        <section id="container">
            <h2>Jakie działanie chcesz wykonać?</h2>
            <form action="" method="post">
                <input type="number" name="a" placeholder="Pierwsza liczba">
                <input type="number" name="b" placeholder="Druga liczba">
                <select name="operator">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
                <button type="submit">Policz</button>
            </form>
            {% if result %}
            <h3>Wynik działania {{a}}{{operator}}{{b}}: {{ result }}</h3>
            {% endif %}
            {% if error %}
            <h3 style="color: red;">Błąd: {{ error }}</h3>
            {% endif %}
        </section>
    </main>
</body>

</html>